@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
  background-color: white;
  background-color: #333;
  color: #bb44f0;
  font-family: 'Roboto Slab', serif;
}

h2, h3, h4 {
  color: #9d9d9d;
}

.row {
  padding: 10px;
}

/* Style for the nav bar */
.navicon {
  display: inline-block;
  width: 20%;
}

.navbar {
  border: 1px solid #9d9d9d;
  border-radius: 0px;
  font-size: 30px;
}

.dropdown {
  float: right;
}

.navbar-toggle, .icon-bar {
  border: 1px solid #9d9d9d;
}

/* Welcome panel styling */

.cont {
  padding: 0px;
  text-align: center;
  height: 600px;
  overflow: hidden;
}

.welcomeImg {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  font-size: 125px;
  color: #9b9b9b;
}

/* Style for about me section */

.aboutMeCont h2 {
  font-size: 50px;
}

.aboutMeTxt {
  font-size: 20px;
}

.quals li {
  font-size: 20px
}

.aboutMeImg {
  width: 70%;
  border-radius: 100%;
  margin-left: 15%;
  margin-top: 20%;
}

/* Styles for TechXP section */

.langBox {
  border: 1px solid #9d9d9d;
  background-color: #9d9d9d;
  border-radius: 20px;
  text-align: center;
  padding: 3px;
  margin-top 2px;
}

.progLangs {
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #bb44f0;
  background-color: #bb44f0;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

/*  Styles for Projects section */

.imgCont {
  height: 100px;
}

.projImg {
  width: 100%;
}

.imgCap {
  height: 200px;
  font-size: 20px;
  overflow: auto;
}

/* Misc styles */

.aboutMeCont, .aboutMeImg, .techxp,
.projects, .projImg, .imgCap{
  border: 1px solid #bb44f0;
}

/* Media Queries */

@media screen and (max-width: 1367px) {
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 125px;
    color: #9b9b9b;
  }

}

@media screen and (max-width: 766px) {
  body {
    overflow-x: hidden;
  }

  .navicon {
    width: 7%;
  }

  .welcomeImg {
    width: 1000px;
  }

  .overlay {
    font-size: 100px;
  }

  .aboutMeCont {
    text-align: center;
  }

  ul li {
    list-style-type: none;
  }
}
