body {
  background-color: white;
  margin: 0;
}

/* Style for the nav bar */
.navicon {
  display: inline-block;
  width: 20%;
  background-color: white;
}

.navbar {
  background-color: white;
  border: none;
  border-radius: 0px;
}

.white {
  color: white;
}

.dropdown {
  float: right;
}

.navbar-toggle, .icon-bar {
  border: 1px solid black;
}

/* Media Queries */

@media screen and (max-width: 765px) {
  .navicon {
    width: 7%;
  }
}
